.listItem{
    background: lightgoldenrodyellow;
    list-style-type: none;
    padding: 10px;
    border-bottom: dashed 1px grey;
}
.listItem:nth-last-child(1){
    border-bottom-width: 0px;
}
.title{
    color: darkslategrey;
    font-size: 1.2rem;
}

.from{
    font-size: 1rem;
}

.rightArrow{
    background: grey;
    width: 24px;
    height: 24px;
    float: right;
    border-radius: 12px;
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: -25px;
}